# Server Configuration
PORT=4003

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_EXCHANGE=social-media.events
RABBITMQ_USER_REGISTERED_QUEUE=social-media.user-registered

# Logging (Loki/Grafana)
LOGS_TO_LOKI=true
LOKI_HOST=http://localhost
LOKI_PORT=3100
