# Server Configuration
PORT=4004

# Sentry
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=1.0

# Logging (Loki/Grafana)
LOGS_TO_LOKI=true
LOKI_HOST=http://localhost
LOKI_PORT=3100

# Local storage
IMAGE_STORAGE_DIR=/tmp/social-media-images
