# Server Configuration
PORT=4000

# JWT Configuration
JWT_SECRET=your-secret-key-here

# Microservice connections
AUTH_SERVICE_HOST=localhost
AUTH_SERVICE_PORT=4001
POSTS_SERVICE_HOST=localhost
POSTS_SERVICE_PORT=4002
IMAGE_SERVICE_HOST=localhost
IMAGE_SERVICE_PORT=4004

# CORS
CORS_ORIGIN=http://localhost:3000

# Logging (Loki/Grafana)
LOGS_TO_LOKI=true
LOKI_HOST=http://localhost
LOKI_PORT=3100
